*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    
}
body{
    background-color:#fff;

}
.bg-grey{
    background-color: #f5f5f5 !important;
}
.content-section{
    min-height: 500px;
    margin-top: 80px;
    width:700px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    padding-top: 30px;
}

@media(max-width:720px){
    .content-section{
     width:90%;   
    }
}
.row{
    display: flex;
    flex-direction: row;
}
.justify-content-center{
    justify-content: center;
}
.continent{
    background-color: #fff;
    border: 1px solid rgb(26, 25, 25);
    height: 25px;
    /* width:300px; */
    border-radius: 2px;
    margin: 6px;
    cursor: pointer;
    padding:2px ;
}

.child-nodes{
    background-color: #fff;
    border: 1px solid rgb(26, 25, 25);
    min-height: 19px;
    /* width:250px; */
    border-radius: 2px;
    font-size: 14px;
    margin: 6px;
    margin-left: 30px;
    padding:1px;
    list-style: square;
  
  
}
.child-nodes img{
    max-height: 18px;
}
.continent-items{
min-height: 5px;
transition: he 1.5s ease;
    width: 300px;
}